.App {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    height: 100vh;
    padding: 16px;
  }
  
  .Header {
    text-align: center;
  }
  
  .Logo {
    width: 64px;
    height: 64px;
  }
  
  .Title {
    margin: 0;
  }
  
  .ChatContainer {
    flex-grow: 1;
    width: 100%;
    background: light-dark(#ffffff, #212121);
    border-radius: 16px;
    overflow-y: auto;
  }
  .Settings {
    background: light-dark(#ffffff, #212121);
    padding: 20px;
    border-radius: 16px;
    margin: 20px;
    width: 100%;
    max-width: 400px;
  }
  
  .Settings form {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .Settings input {
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background: light-dark(#f3f3f3, #303030);
    color: light-dark(#0d0d0d, #ececec);
  }
  
  .Settings button {
    padding: 12px;
    background: #00fbff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    color: #0d0d0d;
    font-weight: bold;
  }
  
  .Settings button:hover {
    background: #02d8e0;
  }
  
  .SettingsButton {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
    color: light-dark(#0d0d0d, #ececec);
  }
  
  .SettingsButton:hover {
    opacity: 0.8;
  }